.hero-info {
    background-color: #2B2F38FF;
    width: 50%;
    border-radius: 10px;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

.hero-info::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}


.hero-info__top {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #313740FF;
    border-radius: 10px 10px 0 0;
    box-shadow: -3px 3px 3px 0px #282828;
    margin-bottom: 40px;
    /* position: relative; */

    & img {
        border-top-left-radius: 10px;
    }

}

.hero-info-top__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: white;

}


.hero-info-text {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.hero-info-text__raiting {
    color: yellow;
    /* display: flex; */
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #323940FF;

    /* justify-content: center; */



    & .hero-info-text__count {
        font-weight: 700;
    }
}

.hero-info-text-raiting__inner {
    display: flex;
    justify-content: space-between;

}

.hero-info-text-add__box {
    text-align: center;
    margin-top: 30px;

    & button {
        background-color: #795CFAFF;
        padding: 20px 0;
        border: none;
        display: block;
        width: 100%;
        border-radius: 30px;
        font-weight: 700;
        color: white;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.hero-info-text__plot {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    margin-top: 45px;

}

.hero-info-favourites-top {
    padding: 20px 7px 13px 35px;
    background-color: #333A42FF;
    border-radius: 10px 10px 0 0;
}

.hero-info-top__back {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-weight: 700;
    top: 0;

    &:hover {
        opacity: 0.8;
    }
}

.hero-info-favourite-top__closeoropen {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-weight: 700;
    background-color: #282828;
    color: white;
    font-size: 25px;
    top: 0;

    &:hover {
        opacity: 0.8;
    }
}


.hero-info-favourites-top__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 20px;

    & h2 {
        color: white;
    }

    & button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background-color: #23262BFF;
        color: white;
        font-size: 20px;

        &:hover {
            opacity: 0.8;
        }
    }

}

.hero-info-favourites-information {
    display: flex;
    justify-content: space-between;

    & p:nth-child(1) {
        display: flex;
        color: white;
        width: 70px;
        align-items: center;
        justify-content: center;
        font-weight: 600;

        & span {
            margin-right: 10px;
        }
    }

    & p {

        color: white;

        font-weight: 600;


    }

    & p:nth-child(4) {

        display: flex;
        color: white;
        width: 100px;
        align-items: center;
        justify-content: center;
        font-weight: 600;

        & span {
            margin-right: 10px;
        }


    }
}




.hero-info-favourite__cards {

    & li {
        /* margin-top: 10px; */

        cursor: pointer;

        padding: 40px 15px 30px 40px;
        border-bottom: 1.5px solid #343841FF;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: #333A42FF;

        }
    }
}

.hero-info-favourite-box {
    display: flex;
    gap: 30px;
    align-items: center;

}

.hero-info-favourite__inner-title {
    color: white;
}

.hero-info-favourite__inner-text {
    margin-top: 13px;
    display: flex;

    color: white;
    gap: 30px;
}

.hero-info-favourite__cancel-btn {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-weight: 700;


    &:hover {
        opacity: 0.8;
    }
}



.hero-info-favourite__status{
    text-align: center;
    margin-top: 35%;
    font-size: 23px;
    color: white;
    font-weight: 700;
    font-style: italic;
}
